<nav class="listing">
    <div class="main-content">
        <h3 class="heading">Bloc Chat</h3>
        <button class="button" ng-click="home.openModal()">New Chatroom</button>
        <p class="tagline">Chat with the world</p>
    </div>
    <section class="rooms-list">
        <div ng-repeat="room in home.chatRooms" class="chatrooms">
            <a ng-click="this.activeRoom(room)">{{ room.name }}</a>
        </div>
    </section>
</nav>
<div class="chat-content">
    <h3>{{this.activeRoom.name}}</h3>
    <p>{{message.username}}: {{message.content}}:{{message.sentAt}}</p>
</div>
