<nav class="listing">
    <div class="main-content">
        <h3 class="heading">Bloc Chat</h3>
        <button class="button" ng-click="home.openModal()">New Chatroom</button>
        <p class="tagline">Chat with the world</p>
    </div>
    <section class="rooms-list">
        <div ng-repeat="room in home.rooms" class="chatrooms">
            <p class="list-link" ng-click="home.setCurrentRoom(room)">{{ room.name }}</p>
        </div>
    </section>
</nav>
<div class="chat-content" ng-repeat="message in home.messages">
    <h3 style="text-align:center;">{{ home.currentRoom.name }}</h3>
    <p>{{ messages.username }}: {{ messages.content }}:{{ messages.sentAt }}</p>
</div>
<div class="new-message">
    <input type="text" name="input" placeholder="Say something!" class="typing-field" ng-model="home.newMessage.content">
    <button class="send-button" type="button" ng-click="home.sendMessage()">Send</button>
</div>
